.btn {
  margin-top: 40px;
  width: 110px;
  border-radius: 6px;
  padding: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
  background: #fff;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 0.3s ease;
}
.change-mode .btn {
  background: hsl(209, 23%, 22%);
}
.btn span {
  margin-left: 15px;
  font-size: 16px;
  color: hsl(200, 15%, 8%);
  transition: 0.3s ease;
}
.btn i {
  font-size: 15px;
}
.change-mode .btn, .change-mode .btn span {
  color: #fff;
}
.single {
  width: 90%;
  margin: auto;
}
.country-grid {
  display: flex;
}
.country-flag, .country-info {
  width: 50%;
}
.country-flag img {
  width: 85%;
  height: 350px;
  height: 100%;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}
.country-info {
  padding-left: 20px;
  padding-top: 40px;
}
.country-info h2 {
  font-size: 27px;
  color: hsl(200, 15%, 8%);
  transition: 0.3s ease;
  margin-bottom: 20px;
}
.change-mode .country-info h2 {
  color: #fff;
}
.info-flex {
  display: flex;
}
.info-big, .info-small {
  width: 50%;
}
.info-flex p {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 8px;
  color: hsl(200, 15%, 8%);
  transition: 0.3s ease;
}
.change-mode .info-flex p {
  color: #fff;
}
.info-flex span {
  font-weight: 300;
}

.fullpage {
  background: hsl(0, 0%, 98%);
  min-height: 89.7vh;
  transition: 0.3s ease;
}
.change-mode {
  background: hsl(207, 26%, 17%);
}
.border-title {
  font-size: 17px;
  font-weight: 600;
  color: hsl(200, 15%, 8%);
  transition: 0.3s ease;
}
.change-mode .border-title {
  color: #fff;
}
.fullname {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.fullname-flex {
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.fullname-flex span {
  font-weight: 300;
}
.fullname-country {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px 13px 0;
  padding: 2px;
  background: hsl(0, 0%, 98%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}
.change-mode .fullname-country {
  background: hsl(209, 23%, 22%);
  color: #fff;
}



@media(max-width: 815px){
 
  .country-grid {
    flex-direction: column;
  }
  .country-flag, .country-info {
    width: 80%;
    margin: auto;
  }
  .country-flag img {
    width: 100%;
  }
}

@media(max-width: 670px){
  .info-flex {
    flex-direction: column;
  }
  .info-big, .info-small {
    width: 100%;
    margin-bottom: 40px;
  }
  .fullpage {
    height: auto;
  }
}

@media(max-width: 500px){
  .single {
    width: 85%;
  }
  .country-flag, .country-info {
    width: 100%;
  }
  .country-flag img {
    height: auto;
  }
  .country-info {
    padding-left: 0;
    padding-top: 30px;
  }
}