*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  /* background: hsl(0, 0%, 98%); */
}

.App {
  /* width: 90%;
  margin: auto; */
  background: hsl(0, 0%, 98%); 
  transition: 0.3s ease;
  min-height: 89.7vh;
}
.dark-mode {
  background: hsl(207, 26%, 17%);
}